@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/variables";

// -- RESET --
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// ----
body {
    font-family: 'Fira Sans', sans-serif;
}

// --- UTILITY
.my-btn {
    display: inline;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-black {
    background-color: black;
}
.btn-blue {
    background-color: $blue-estern ;
}

.letter-space-upper{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: small;
}

.hr-salmon {
    margin: 20px auto 0;
    width: 100px;
    border: 2px solid $salmon;
}

// --- MAIN SECTIONS ---
// Le main-sections sono struttrate in main-name, main-body e main-end.
// Main-end si colloca all'esterno del div .container
.main-section {
    padding-top: 50px;

    .main-name {
        text-align: center;
        padding: 20px 0;

        h2 {
            font-weight:800;
        }
        
        hr {
            margin: 20px auto 0;
            width: 100px;
            border: 2px solid $salmon;
        }
    }

    .main-end {
        background-color: $shark-black;
        color: white;
        margin-top: 50px;
        padding: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        
        i {
            margin-left: 5px;
        }

        &:hover {
            color: $blue-estern;
        }
    }

}
