@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/variables";

.news-row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

#featured-1 {
    background-image: url("img/featured_article_1_bg.jpg");
    height: 350px;
}

#featured-2 {
    background-image: url("img/featured_article_2_bg.jpg");
    height: 320px;
    overflow: hidden;
    margin: 0;
    // width: 60%;
}

.featured-article {
    margin: 15px 0;
    color: white;
    background-size: cover;
    padding: 0 50px;
    display: flex;
    align-items: center;

    .container-featured{
        h3 {
            font-weight: 800;
        }
    }
}

#news-turorials{
    height: 300px;
}

.tutorials {
    // width: 40%;
    padding-left: 20px;
    margin-top: 10px;

    h4 {
        font-weight: 800;
        margin: 0;
    }

    hr {
        margin: 15px 0;
    }
    .tutorial-card {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5px;

        img {
            width: 100px;
            cursor: pointer;
        }
        .tutorial-card-body {
            margin-left: 10px;

            div {
                font-weight: 600;
            }
            span {
                color: gray;
                font-size: 12px;
            }
        }
    }

}