// -- COLOR PALETTE --
$blue-estern: #27aabe; //per header e alcuni buttons
$salmon: #fc8c5e;
$shark-black: #1a1b1b; //  per " read our * "
$bizzare: #eee3d6;
$silver: #aeaeae; // Silver Chalice

$grey-bg: rgb(242,242,242);